@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap");

* {
  font-family: "Schibsted Grotesk";
}

.chat-main {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #131314;
  color: #fff;
}

.header h2 {
  background: linear-gradient(to right, lightblue, #feb47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.user-input button{
  border-radius: 0.3vw 2vw 2vw 0.3vw;
}

/* .chat-window, .chat-content, .footer, .user-input button, input{
  border: 2px solid #fff;
} */

::-webkit-scrollbar {
  width: 0;
}
